header {
  margin-top: 120px; /* paddings to compensate for header 120px */
  /* padding-bottom: 120px; */
  position: relative; /* Set context for its children elements when positioning*/
  height: 400px;
  width: 100%;

  background-color: #cc8800;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header h2 {
  color: #ffffff;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);


}

header img {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -30%);

}
/* header img {

} */

