nav span {
  font-family: 'Bungee', cursive;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  
}