#logo {
  font-family: 'Bungee', cursive;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 120px;
  background-color: #cc8800;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  
}

.bold {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

#write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(6px);
  }
  100% {
    transform: translatey(0px);
  }
}
#arrow {
  padding-left: 6px;
  height: 25%;
  color: red;
  animation: float 2s ease-in-out infinite;
}

#arrow:hover #back-to-top:hover {
  font-weight: bold;
}

#back-to-top {
  color: red;
  font-size: 2em;
  position: fixed;
  right: 2em;
  bottom: 1.5em;
  z-index: 900;
  cursor: pointer;
}