
.new-tweet form {
  position: relative;
  text-align: left;
}

.new-tweet form .counter {
  text-align: right;
  font-family: 'Bungee', cursive;
  position: absolute;
  right: 5%;
  bottom: 0;
}

.new-tweet .counter.error {
  color: red;
}

.new-tweet .btn {
  background-color: #4056a1;
  color: #ffffff;
  border: none;
  font-family: 'Bungee', cursive;
}

.new-tweet textarea {
  width: 95%;
  resize: none;
  border: none;
  border-bottom: 5px solid #000000;

  background-color: #f4f1ec;
}

.new-tweet textarea:focus {
  outline-width: 0;
}

/* .new-tweet form {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
} */