/* Tablet Styles */
/* @media only screen and (min-width: 768px) {
  nav {
    opacity: 0%;
  }
} */

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
  }
  #page-header {
    order: 1;
    margin-top: 170px;
    margin-right: 50px;
    margin-left: 50px;
    flex-basis: 30%;
  }
  .container {
    order: 2;
    flex-basis: 70%;
    margin-top: 170px;
    margin-right: 50px;
  }
}