/* Tablet Styles */
@media only screen {
  nav {
    background-color: #cc8800;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ 
    /* position: static;
    top: auto;
    left: auto;
    right: auto; */
  }
  #page-header {
    margin-top: 120px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
    background-color: #4056a1;
    background-image: none;
  }
  body {
    display: flex;
    flex-direction: row;
  }
  #page-header {
    order: 1;
    margin-top: 170px;
    margin-right: 50px;
    margin-left: 50px;
    flex-basis: 30%;
  }
  .container {
    order: 2;
    flex-basis: 70%;
    margin-top: 170px;
    margin-right: 50px;
    margin-left: 50px;
  }
}