/* Desktop styles */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056a1;
    background-image: none;
  }
  body {
    display: flex;
    flex-direction: row;
  }
  #page-header {
    order: 1;
    margin-top: 170px;
    margin-right: 50px;
    margin-left: 50px;
    flex-basis: 30%;
  }
  .container {
    order: 2;
    flex-basis: 70%;
    margin-top: 110px;
    margin-right: 50px;
    margin-left: 50px;
  }
}