#tweet-list {
  margin-top: 60px;
}

.tweet:hover .handle{
  opacity: 100%;
}

.tweet:hover {
  opacity: 100%;
  box-shadow: 10px 5px 5px #4056a1;
}

.tweet {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  opacity: 50%;
  margin-bottom: 20px;
}


.tweet header {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
}

.tweet header img {
  height: auto;
}
.tweet header .handle {
  color: #4056a1;
  opacity: 0%;
}

.tweet p {
  border-bottom: 3px solid black;
  text-align: left;
  margin-bottom: 0;
  word-break: break-all;
}


.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.tweet .reaction {
  color: #4056a1;
}

.tweet .time-passed {
  font-size: smaller;
}
